#about{
  height: 700px;
  background: white;
  position: relative;
  .side-info{
    width: 10%;
    position: absolute;
    top: 25%;
    .vertical-container{
      display: inline-block;
      .vertical-text{
         writing-mode: vertical-lr;
         transform: rotate(180deg);
         font-weight: 700;
         text-transform: uppercase;
         font-size: 12px;
         letter-spacing: 2px;
      }
    }
    .side-line{
      display: inline-block;
      width: 5px;
      margin-bottom: 12rem;
      span{
          display: block;
          margin-bottom: 10px;
          border-right: 2px solid $offBlack;
          height: 1.5rem;
          &:nth-of-type(2){
            border-right: 4px solid $offBlack;
            height: 3rem;
          }
      }
    }
  }

  .about-content{
    padding-top: 7rem;
    font-family: 'Muli', sans-serif;
    .about-us{
      h2{
        font-weight: 700;
        text-transform: capitalize;
        font-size: 3.3rem;
        margin-bottom: 1.4rem;
        span{
          color: $yellow;
        }
      }
      p{
        line-height: 1.8;
        letter-spacing: 1px;
        font-weight: 600;
        span{
          font-weight: 900;
        }
      }
    }
    .call-to-action{
      display: flex;
      padding-top: 5rem;
      .arrow-container{
        align-items: center;
        align-self: center;
        padding: 0 35px 0 0;
      }
      .button-container{
        .button{
          display: flex;
          padding: 5px 25px;
          border: 4px solid $offBlack;
          align-items: center;
          transition: all .3s ease-in-out;
          span{
            border-bottom: 2px solid $offBlack;
            width: 50px;
            margin-right: 1.5rem;
            align-self: center;
            transition: all .3s ease-in-out;
          }
          p{
            color: $offBlack;
            font-weight: 700;
            margin-bottom: 0;
          }
          &:hover{
              text-decoration: none;
              background: $yellow;
              span{
                border-bottom: 2px solid white;
            }
          }
        }
      }
    }
    .about-carosuel{
      display: flex;
      justify-content: flex-end;
      .carosuel-container{
        width: 200px;
        background: $offBlack;
        height: 24rem;
        border-radius: 5px;
        position: relative;
        .carousel{
          width: 380px;
          height: 530px;
          background: white;
          -webkit-box-shadow: 0px 0px 81px -14px rgba(0,0,0,0.66);
          -moz-box-shadow: 0px 0px 81px -14px rgba(0,0,0,0.66);
          box-shadow: 0px 0px 81px -14px rgba(0,0,0,0.66);
          position: relative;
          left: -42%;
          top: -45%;
          .carousel-item{
            padding: 30px;
            .first-slide{
              h5{
                font-weight: 600;
                text-transform: uppercase;
              }
              h4{
                font-weight: 700;
                text-transform: uppercase;
                margin: 0 0 5% 10%;
              }
              .span-container{
                display: flex;
                justify-content: center;
                max-width: 69%;
                margin-bottom: 15%;
                span{
                  border-bottom: 5px solid $offBlack;
                  height: 2px;
                  width: 3.5rem;
                  display: block;
                }
              }
            }
          }
        }
        .carosuel-buttons-container{
          position: absolute;
          left: -65%;
          bottom: 12%;
          width: 120px;
          height: 80px;
          .indicators-container{
            position: relative;
            height: 30px;
            margin: 0;
            .carousel-indicators{
              margin: 0 10% 0 10%;
              justify-content: space-between;
              li{
                width: 15px;
                height: 15px;
                border: 2px solid $offBlack;
                border-radius: 100%;
                transition: all .1s ease-in-out;
                background: none;
                background: $offBlack;
                &.active{
                  border: 4px solid $yellow;
                  background: none;
                }
              }
            }
          }
          .span-line{
            display: block;
            margin: 1rem 0;
            padding-bottom: 2px;
            position: relative;
            span{
              height: 2px;
              width: 23rem;
              display: block;
              position: absolute;
              left: 14px;
              border-bottom: 5px solid $offBlack;
            }
          }
          .control-container{
            display: inline-flex;
            width: 119px;
            height: 50px;
            justify-content: space-around;
            .carousel-control-prev,
            .carousel-control-next{
              position: relative;
            }
            .carousel-control-prev-icon{
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23$offBlack' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
            }
            .carousel-control-next-icon{
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23$offBlack' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
            }
          }
        }
        .carosuel-container-span{
          display: block;
          position: absolute;
          bottom: -10rem;
          left: 39%;
          span{
            width: 5rem;
            display: block;
            height: 2px;
            border-bottom: 4px solid $offBlack;
          }
        }
      }
    }
  }
}
