#header{
  background: $yellow;
  background-image: url("https://images.unsplash.com/photo-1520223297779-95bbd1ea79b7?ixlib=rb-0.3.5&s=3efee29e1dd0c121504b620a978c9584&auto=format&fit=crop&w=966&q=80");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 60% 100%;
  .container-fluid{
      .header-left{
        background: $yellow; /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(245,209,73,.8) 0%, rgba(250,212,75,.8) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(245,209,73,.8) 0%,rgba(250,212,75,.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(245,209,73,.8) 0%,rgba(250,212,75,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(245,209,73,.8)', endColorstr='rgba(250,212,75,.8)',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        height: 100vh;
        display: flex;
        align-items: flex-end;
        span{
          border-right: 5px solid black;
          width: 98%;
          height: 20%;
          margin-bottom: 5%;
        }
      }
      .header-right{
        background: rgba(0,0,0,.95);
        height: 100vh;
      }
  }
  .events{
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    .carousel-inner{
      box-shadow: 1px 1px 23px -2px rgba(0,0,0,0.75);
      .events-left{
        color: white;
        background: #181818;
        padding: 10px 30px 20px 50px;
        p{
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
        }
        h5{
          font-family: 'Muli', sans-serif;
          text-transform: uppercase;
          font-weight: 700;
        }
        .img-container{
          display: inline-block;
          padding: 4px;
          background: linear-gradient( -90deg, $yellow, $yellow 49%, $yellow 49%, $yellow 51%, white 51% );
          border-radius: 50%;
          .carousel-img{
            width: 90px;
            height: 90px;
            border: 4px solid black;
            background: black;
            border-radius: 50%;
          }
        }
        .check-now{
          display: inline-flex;
          justify-content: flex-start;
          align-items: flex-start;
          .fa-arrow-right{
            padding: 20px;
            font-size: 1.5rem;
          }
          a{
            font-family: 'Muli', sans-serif;
            color: white;
            font-weight: 700;
            text-transform: uppercase;
            font-size: .8rem;
            align-self: center;
            transition: all .3s ease-in-out;
            &:hover{
              text-decoration: none;
              color: rgba(255,255,255, .8);
              span{
                border-color: rgba(255,255,255, .8);
              }
            }
            span{
              border-bottom: 1px solid white;
              display: inline-block;
              width: 1rem;
              margin: 0 10px 4px 0;
              transition: all .3s ease-in-out;
            }
          }
        }
        .event-number{
          font-family: 'Muli', sans-serif;
          position: absolute;
          right: -9%;
          top: 22%;
          background: $yellow;
          overflow: hidden;
          height: 44px;
          padding: 32px 34px 0px 7px;
          display: flex;
          align-items: center;
          h3{
            color: black;
            font-weight: 700;
            font-size: 2.5rem;
          }
        }
      }
      .events-right{
        background: transparent;
        color: white;
        padding: 15px 50px;
        .top-line{
          border-top: 3px solid white;
          display: inline-block;
          width: 5.5rem;
        }
        h2{
          span{
            &:nth-of-type(1){
              font-weight: 700;
            }
            &:nth-of-type(2){
              font-weight: 700;
              color: $yellow;
            }
          }
        }
        .bottom-line{
          border-top: 3px solid white;
          display: inline-block;
          width: 5.5rem;
          margin-left: 29%;
          margin-bottom: 3%;
        }
      }
    }
    .indicator{
      position: absolute;
      width: 19%;
      left: -1.5%;
      top: 120%;
      display: flex;
      justify-content: flex-end;
      align-content: space-between;
      .carousel-indicators{
        align-items: center;
        right: 20%;
        li{
          width: 15px;
          height: 15px;
          border: 2px solid black;
          border-radius: 100%;
          transition: all .1s ease-in-out;
          background: none;
          &:hover{
            background: white;
            margin-bottom: 2px;
          }
          &.active{
            border: 4px solid black;
            width: 22px;
            height: 22px;
            margin-bottom: 2px;
            background: white;
          }
        }
      }
      .carousel-counter{
        margin-bottom: 6%;
        font-weight: 700;
        .counter{
          color: white;
        }
        .total-counter{
          display: inline-block;
        }
      }
    }
    .controls{
      position: absolute;
      height: 13%;
      right: -1.4%;
      width: 8%;
      top: 120%;
      a{
        &.carousel-control-next,
        &.carousel-control-prev{
          width: 43%;
        }
        &.carousel-control-prev{
          justify-content: flex-end;
        }
        &.carousel-control-next{
          justify-content: flex-start;
        }
      }
    }
  }
}
