.navbar{
  padding: 1.5rem 1rem;
  &.fixed-top{
  background: transparent;
  }
  &.navbar-light{
    background: transparent;
  }
  .navbar-brand{
    font-weight: 700;
    font-size: 1.5rem;
    span{
      border-bottom: 3px solid black;
      width: 40px;
      display: inline-block;
      margin-right: 15px;
      vertical-align: middle;
    }
  }
  .navbar-toggler{
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    height: 2.5rem;
    width: 54px;
    height: 52px;
    &:focus{
      outline: none;
    }
    .navbar-toggler-icon{
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
}
